.main {
    display: flex;
    justify-content: center;
    background-color: #FFF7E8;
    outline: 4px solid #EFB77B;
    outline-offset: -2rem;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

.link {
    color: #707070;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transition: all 400ms ease-in-out;
    font-size: 1.25rem;
    font-family: 'Urbanist', sans-serif;
}

.link:hover {
    color: #9BDBF6;
}