.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 40vw;

    p {
        margin: 1rem auto;
    }
}

.image {
    margin: 1rem auto;
}

.heading {
    margin-top: 2rem;
}