.container {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40vw;
    min-height: 25vh;
    max-height: 100vh;
}

.link {
    color: #707070;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transition: all 400ms ease-in-out;
    font-size: 1.25rem;
    font-family: 'Urbanist', sans-serif;
}

.link:hover {
    color: #9BDBF6;
}